<div class="form-row">
  <div class="form-item">
    <label>Title</label>
    <input type="text" name="title" value="<%= book.title %>" />
  </div>
  <div class="form-item">
    <label>Author</label>
    <select name="author">
      <% authors.forEach(author => { %> <% if (author.id === book.author) { %>
      <option selected label="<%= author.name %>" value="<%= author.id %>">
        <% } else { %> </option
      ><option label="<%= author.name %>" value="<%= author.id %>">
        <% } %> <% }) %>
      </option></select
    >
  </div>
</div>

<div class="form-row">
  <div class="form-item">
    <label>Publish Date</label>
    <input
      type="date"
      name="publishDate"
      value="<%= book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0] %>"
    />
  </div>
  <div class="form-item">
    <label>Page Count</label>
    <input
      type="number"
      name="pageCount"
      min="1"
      value="<%= book.pageCount %>"
    />
  </div>
</div>

<div class="form-row">
  <div class="form-item form-item-no-grow">
    <label>Cover</label>
    <div
      class="filepond--root filepond book-cover filepond--hopper"
      id="true"
      data-style-panel-aspect-ratio="1.3333333333333333"
      data-style-button-remove-item-position="left"
      data-style-button-process-item-position="right"
      data-style-load-indicator-position="right"
      data-style-progress-indicator-position="right"
      data-style-button-remove-item-align="false"
      style="height: 266.667px;"
    >
      <input
        class="filepond--browser"
        type="file"
        id="filepond--browser-0pvjkxqz8"
        name="cover"
        aria-controls="filepond--assistant-0pvjkxqz8"
        aria-labelledby="filepond--drop-label-0pvjkxqz8"
      />
      <div
        class="filepond--drop-label"
        style="transform: translate3d(0px, 0px, 0px); opacity: 1;"
      >
        <label
          for="filepond--browser-0pvjkxqz8"
          id="filepond--drop-label-0pvjkxqz8"
          aria-hidden="true"
          >Drag &amp; Add your files
          <span class="filepond--label-action" tabindex="0">Browse</span></label
        >
      </div>
      <div
        class="filepond--list-scroller"
        style="transform: translate3d(0px, 0px, 0px);"
      >
        <ul class="filepond--list" role="list"></ul>
      </div>
      <div class="filepond--panel filepond--panel-root" data-scalable="false">
        <div class="filepond--panel-top filepond--panel-root"></div>
        <div
          class="filepond--panel-center filepond--panel-root"
          style="transform: translate3d(0px, 10px, 0px) scale3d(1, 2.46667, 1);"
        ></div>
        <div
          class="filepond--panel-bottom filepond--panel-root"
          style="transform: translate3d(0px, 256.667px, 0px);"
        ></div>
      </div>
      <span
        class="filepond--assistant"
        id="filepond--assistant-0pvjkxqz8"
        role="status"
        aria-live="polite"
        aria-relevant="additions"
      ></span>
      <fieldset class="filepond--data"></fieldset>
      <div class="filepond--drip"></div>
    </div>
  </div>
  <div class="form-item">
    <label>Description</label>
    <textarea name="description"><%= book.description %></textarea>
  </div>
</div>
